/** COLORS **/
$white : #FFFFFF;
$light-blue: #4cb1ca;
$light-gray: #EEEEEE;
/**$blue: #428BCA;**/
$blue: #00409C;
$blue-hover: #3FA9F5;
$light-gray-c: #cccccc;
$polaroid: #534741;
$background-blue: #E6F6FA;
$background-gray: #F2F2F2;
$gray: #404040;
$footer-gray: #888888;
$footer-background: #F3F3F3;
$disabled-gray: #DDDDDD;
$red: #FF0000;
$cartujano-red: #DE0000;

body {
  background: url(../img/texture.png) repeat;
  color: $blue;
}

a {
  color: $blue;
  outline: none;
  &:hover, &:focus {
    color: $blue-hover;
  }
}

/** HELPER CLASSES **/
.mt50 { margin-top: 50px; }

.mt30 { margin-top: 30px; }

.mt20 { margin-top: 20px; }

.text-12 { font-size: 12px; }

.ml-10 { margin-left: -10px; }

.mr8 { margin-right: 8px; }

.mr15 { margin-right: 15px; }

.mb20 { margin-bottom: 20px !important; }

.mb10 { margin-bottom: 10px !important; }

.font-xl { font-size: 16px; }

.block {
  display: block !important;
}

.w100 { width: 100% !important; }

.alert {
  padding: 10px 15px !important;
}

/** COLOR CLASSES **/
.blue {
  color: $blue;
}

/* CARTUJANO APP */
header {
  background-image: url("../img/el-cartujano-header.png");
  height: 18rem;
  max-width: 96rem;
  margin: auto;

  a.brand {
    margin-left: 2.5rem;
    img {
      max-width: 20rem;
      height: auto;
    }
  }
}

.container-main {
  background-color: $background-gray;
}

/** MAIN NAV **/
.navbar-nav > li > a {
  padding: 0.8rem 2.5rem;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: $blue-hover;
  background-color: transparent;
}

nav.cartujano-nav {
  background-color: $blue;
  height: 3.6rem !important;
  max-width: 96rem;
  margin: auto;

  a {
    color: $white;
    font-weight: bold;
    &:after {
      content: " ";
      background-color: $white;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 10rem;
      display: inline-block;
      position: absolute;
      top: calc(50% - 0.4rem);
      margin-left: calc(2.5rem - 0.4rem);
    }
  }

  li {
    &:last-of-type {
      a {
        &:after {
          display: none;
        }
      }
    }
  }

  .active {
    a {
      color: $blue-hover;
    }
  }

  form {
    input {
      border-radius: 1.5rem;
      border: 1px solid $light-gray-c;
      height: 2.6rem;
      width: 22rem;
      padding: 0.4rem 0.6rem;
    }
  }
}

/** CATEGORIES NAV **/
.category-nav-container {
  padding: 2rem 1.5rem;
  .separator {
    border-bottom: 2px solid $blue;
  }
}

.red-box {
  display: inline-block;
  width: 12.5rem;
  height: 10rem;
  background-color: $cartujano-red;
  padding: 1.5rem 0 1.5rem 1.5rem;
  margin: 1.5rem 0 1.5rem 1.5rem;
  float: left;
  color: $white;
  font-size: 1.6rem;
  &:after {
    content: '';
    border-top: 50px solid transparent;
    border-left: 25px solid $cartujano-red;
    border-bottom: 50px solid transparent;
    display: inline-block;
    top: 1.5rem;
    left: 15.5rem;
    position: absolute;
  }
}

#categories {
  border-bottom: none;
  margin-left: 3rem;
  display: inline-block;

  li {
    min-width: 12rem;
    max-width: 15rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;

    a.dropdown-toggle {
      color: $blue;
      transition: all 0.25s ease;
      -webkit-transition: all 0.25s ease;
      border: none;
      &:hover {
        border: none !important;
      }
    }
  }

  .open {
    .dropdown-toggle {
      border: none;
      background-color: inherit;
      border-radius: 0px;
    }
  }

  .sub-menu {
    background-color: $blue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .dropdown-menu {
    min-width: 15rem;
    max-width: 15rem;
    padding: 0;
  }


  .sub-menu-items {
    ul {
      padding: 0.8rem 1rem;
      font-size: 1.3rem;
      overflow: hidden;
      li {
        line-height: 2.2rem;
        width: auto;
        a {
          color: $white;
          text-decoration: none;
          &:hover {
            color: $blue-hover;
          }
        }
      }
    }

    &:before {
      content: '';
      border-left: 1rem solid transparent;
      border-bottom: 1rem solid $blue;
      border-right: 1rem solid transparent;
      display: inline-block;
      top: -1rem;
      left: calc(50% - 1rem);
      position: absolute;
    }
  }
}

/** MAIN PAGE **/

#wrap {
  background-color: $background-gray;
  /**max-width: 1170px;**/
  max-width: 96rem;
  /** max-width: 998px screen 1024 **/
  margin: auto;

  h1.title {
    color: $cartujano-red;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    font-weight: bold;
  }

  p {
    line-height: 2.4rem;
    margin-bottom: 2rem;
    text-align: justify;
  }

  .polaroid {
    margin-top: 2rem;
    border: solid 0.4rem $polaroid;
  }
}

.container {
  background-color: $background-gray;
  max-width: 96rem;
}

.category-block {
  background-color: $white;
  padding: 1rem 0;
  height: 13.7rem;

  .dtable {
    display: table;
    height: 100%;
    .wrap {
      display: table-cell;
      vertical-align: middle;
    }
  }
  a {
    max-width: 15rem;
    display: block;
    margin: auto;
    font-weight: bold;
  }
}

.row.category-block {
  margin: 0 0 2rem;
}

/** FOOTER **/
footer.container {
  background-color: $cartujano-red;
  border-top: solid 1rem $blue;
  color: $white;
  height: 26.5rem;
  margin-top: 5rem;
  padding-bottom: 2rem;
  font-size: 1.3rem;

  .footer-title {
    color: $white;
    font-size: 1.6rem;
    line-height: 4rem;
    font-weight: bold;
  }
  
  .row {
    height: 100%;
  }

  p {
    font-weight: bold;
    line-height: 2.4rem;
  }

  a {
    color: $white;
    text-decoration: none;
    &:hover {
      color: $blue-hover;
    }
  }

  .contact {
    height: 100%;
    display: table;

    #contact-wrap {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .telephone {
    font-size: 3rem;
    font-weight: bold;
  }

  .fb-plugin {
    margin: auto;
    display: block;
    width: 12rem !important;
  }

  /* This gets Facebook to fall into place */
  iframe {
    vertical-align: middle;
  }
}

/** BOOSTRAP OVERRIDE **/
.navbar {
  min-height: 3.6rem;
  border: 0;
  border-radius: 0;

  .container-fluid {
    padding: 0;
  }

  .navbar-form.navbar-right:last-child {
    margin-right: 2rem;
  }

  .navbar-form {
    padding: 0.5rem 0;
    margin: 0;
  }

}
