@media (min-width: 980px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 980px) {
  footer.container {
    height: initial;
    .fb-plugin {
      margin: initial;
    }

    .contact {
      #contact-wrap {
        display: block;

        a {
          img {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #wrap {
    max-width: 750px;
    .cartujano-img-center {
      display: none;
    }
  }

  .red-box {
    display: none;
  }

  .category-block {
    height: 105px;
    a {
      img {
        max-width: 50px;
        display: block;
        margin: auto;
      }
    }
  }
}

@media (max-width: 640px) {
  #wrap {
    max-width: 640px;

    .polaroid {
      margin: 2rem auto 0;
    }
  }

  .navbar-nav {
    margin: 0;
    float: left;
  }

  nav.cartujano-nav {
    a {
      padding: 0.8rem 1.5rem;
      &:after {
        margin-left: calc(1.5rem - 0.4rem);
      }
    }
  }

  .nav > li {
    float: left;
  }

  /** BOOSTRAP OVERRIDE **/
  .navbar {
    .navbar-right {
      float: right;
    }

    .navbar-form {
      padding: 4px 0;
    }

    .navbar-form.navbar-right:last-child {
      margin-right: 1.5rem;
    }
  }

  #categories {
    margin: 0;
  }

  .items-list {
    .item-box {
      margin-bottom: 4rem;
      overflow: hidden;
    }
  }

  .form-group {
    input, select {
      &:last-of-type {
        margin-top: 20px;
      }
    }
  }

  header {
    a.brand {
      img {
        max-width: 16rem;
      }
    }
  }

  #payment-method {
    .table-responsive {
      border: 0;
    }

    .payment-table {
      border: 1px solid #ddd;
    }
  }

  #billing-form {
    div {
      margin-bottom: 10px;
    }
  }

  .order-details {
    .payment-type {
      border: 0;

      .payment-table {
        border: 1px solid #ddd;
      }
    }
  }
}

@media (max-width: 360px) {
  .navbar-nav {
    margin: 0;
    float: none;
    text-align: center;
  }

  .nav > li {
    float: none;
    display: inline-block;
  }

  nav.cartujano-nav {
    a {
      padding: 0.8rem 1.3rem;
      &:after {
        margin-left: calc(1.3rem - 0.4rem);
      }
    }

    form {
      input {
        width: 100%;
      }
    }
  }

  .navbar {
    .navbar-form {
      padding: 10px 15px;
      width: 100%;
    }

    .navbar-form.navbar-right:last-child {
      margin-right: 0;
    }
  }
}