/** COLORS **/
$white : #FFFFFF;
$light-blue: #4cb1ca;
$light-gray: #EEEEEE;
$blue: #00409C;
$blue-hover: #3FA9F5;
$light-gray-c: #cccccc;
$polaroid: #534741;
$background-blue: #E6F6FA;
$background-gray: #F2F2F2;
$gray: #404040;
$footer-gray: #888888;
$footer-background: #F3F3F3;
$disabled-gray: #DDDDDD;
$red: #FF0000;
$cartujano-red: #DE0000;

@media (min-width: 980px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 980px) {
  footer.container {
    height: initial;
    .fb-plugin {
      margin: initial;
    }

    .contact {
      #contact-wrap {
        display: block;

        a {
          img {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #wrap {
    max-width: 750px;
    .cartujano-img-center {
      display: none;
    }
  }

  .red-box {
    display: none;
  }

  .category-block {
    height: 105px;
    a {
      img {
        max-width: 50px;
        display: block;
        margin: auto;
      }
    }
  }
}

@media (max-width: 640px) {
  #wrap {
    max-width: 640px;

    .polaroid {
      margin: 2rem auto 0;
    }
  }

  .navbar-nav {
    margin: 0;
    float: left;
  }

  nav.cartujano-nav {
    a {
      padding: 0.8rem 1.5rem;
      &:after {
        margin-left: calc(1.5rem - 0.4rem);
      }
    }
  }

  .nav > li {
    float: left;
  }

  /** BOOSTRAP OVERRIDE **/
  .navbar {
    .navbar-right {
      float: right;
    }

    .navbar-form {
      padding: 4px 0;
    }

    .navbar-form.navbar-right:last-child {
      margin-right: 1.5rem;
    }
  }

  #categories {
    margin: 0;
  }

  .items-list {
    .item-box {
      margin-bottom: 4rem;
      overflow: hidden;
    }
  }

  .form-group {
    input, select {
      &:last-of-type {
        margin-top: 20px;
      }
    }
  }

  header {
    a.brand {
      img {
        max-width: 16rem;
      }
    }
  }

  #payment-method {
    .table-responsive {
      border: 0;
    }

    .payment-table {
      border: 1px solid #ddd;
    }
  }

  #billing-form {
    div {
      margin-bottom: 10px;
    }
  }

  .order-details {
    .payment-type {
      border: 0;

      .payment-table {
        border: 1px solid #ddd;
      }
    }
  }

  .navbar-nav {
    margin: 0;
    float: none;
    text-align: center;
  }

  .nav > li {
    float: none;
    display: inline-block;
  }

  nav.cartujano-nav {
    a {
      padding: 0.8rem 1.3rem;
      &:after {
        margin-left: calc(1.3rem - 0.4rem);
      }
    }

    form {
      input {
        width: 100%;
      }
    }
  }

  #categories {
    text-align: center;
  }

  .category-nav-container {
    padding-top: 48px;
  }

  body.categories-page {
    .category-nav-container {
      display: none;
    }
  }

  .navbar {
    .navbar-form {
      padding: 10px 15px;
      width: 100%;
    }

    .navbar-form.navbar-right:last-child {
      margin-right: 0;
    }
  }

  header {
    height: 150px;
    background-size: 520px 150px;

    a.brand {
      margin-left: 15px;

      img {
        max-width: 140px;
        margin-top: 8px;
      }
    }
  }

  .category-block {
    a {
      max-width: initial;

      img {
        margin-bottom: 10px;
      }
    }
  }

  .shopping-cart {
    right: 5px;
    .cart-items {
      width: auto;
      padding-left: 15px;

      .empty-cart {
        margin-left: 10px;
      }
    }
  }

  nav.cartujano-nav {
    .user-access {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: $blue;
      z-index: 999;
      height: 40px;

      li.login {
        width: 100%;
        a {
          font-size: inherit;
        }
      }

      li {
        width: 50%;
        float: left;
        height: 100%;
      }

      a {
        text-align: center;
        font-size: 20px;
        padding: 0;
        height: 100%;
        line-height: 40px;

        &:hover {
          color: $blue-hover;
        }

        &:after {
          display: none;
        }
      }
    }
  }

  body.ecommerce, body.user {
    padding-bottom: 40px;
  }

  .cart-table {
    img {
      display: block;
    }

    .item-name {
      margin: 10px 0 0 0 !important;
    }
  }

  .payment-table {
    img {
      max-width: 142px;
    }
  }

  #remember_me {
    margin-top: 0;
  }

  form#register-user {
    input[type="checkbox"] {
      margin-top: 5px;
    }
  }

  .login-form {
    width: initial;
    height: initial;
    display: block;
    .login-wrap {
      display: block;

      .login {
        border-right: none;
        &:after {
          content: "";
          display: block;
          width: 100%;
          border-bottom: solid 0.2rem $blue;
        }
      }

      .register {
        margin-top: 20px;
      }
    }
  }
}