/** COLORS **/
a {
  color: #00409C;
  outline: none; }
  a:hover, a:focus {
    color: #3FA9F5; }

a.red-link {
  color: #DE0000; }

textarea {
  resize: none; }

/** HELPER CLASSES **/
body {
  background: url(../../bundles/frontend/img/texture.png) repeat;
  color: #00409C; }

.mt50 {
  margin-top: 5rem; }

.mt30 {
  margin-top: 3rem; }

.mt20 {
  margin-top: 2rem; }

.text-12 {
  font-size: 1.2rem; }

.ml-10 {
  margin-left: -1rem; }

.mr8 {
  margin-right: 0.8rem; }

.mr15 {
  margin-right: 1.5rem; }

.mb20 {
  margin-bottom: 2rem !important; }

.mb10 {
  margin-bottom: 1rem !important; }

.font-xl {
  font-size: 1.6rem; }

.block {
  display: block !important; }

.error {
  color: #DE0000 !important; }

.w100 {
  width: 100% !important; }

.alert {
  padding: 10px 15px !important; }

/** COLOR CLASSES **/
.blue {
  color: #00409C; }

/* CARTUJANO APP */
header {
  background-image: url("../../bundles/frontend/img/el-cartujano-header.png");
  height: 18rem;
  max-width: 96rem;
  margin: auto;
  position: relative; }
  header a.brand {
    margin-left: 2.5rem; }
    header a.brand img {
      max-width: 20rem;
      height: auto; }

.container-main {
  background-color: #F2F2F2; }

/** MAIN NAV **/
.navbar-nav > li > a {
  padding: 0.8rem 2.5rem; }

.nav > li > a:hover, .nav > li > a:focus {
  color: #3FA9F5;
  background-color: transparent; }

nav.cartujano-nav {
  background-color: #00409C;
  height: 3.6rem !important;
  max-width: 96rem;
  margin: auto; }
  nav.cartujano-nav a {
    color: #FFFFFF;
    font-weight: bold; }
    nav.cartujano-nav a:after {
      content: " ";
      background-color: #FFFFFF;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 10rem;
      display: inline-block;
      position: absolute;
      top: calc(50% - 0.4rem);
      margin-left: calc(2.5rem - 0.4rem); }
  nav.cartujano-nav li:last-of-type a:after {
    display: none; }
  nav.cartujano-nav .active a {
    color: #3FA9F5; }
  nav.cartujano-nav form input {
    border-radius: 1.5rem;
    border: 1px solid #cccccc;
    height: 2.6rem;
    width: 22rem;
    padding: 0.4rem 0.6rem; }
  nav.cartujano-nav .user-access {
    margin-right: 0 !important; }

/** CATEGORIES NAV **/
.category-nav-container {
  padding: 2rem 1.5rem; }
  .category-nav-container .separator {
    border-bottom: 2px solid #00409C; }

.red-box {
  display: inline-block;
  width: 12.5rem;
  height: 10rem;
  background-color: #DE0000;
  padding: 1.5rem 0 1.5rem 1.5rem;
  margin: 1.5rem 0 1.5rem 1.5rem;
  float: left;
  color: #FFFFFF;
  font-size: 1.6rem; }
  .red-box:after {
    content: '';
    border-top: 50px solid transparent;
    border-left: 25px solid #DE0000;
    border-bottom: 50px solid transparent;
    display: inline-block;
    top: 1.5rem;
    left: 15.5rem;
    position: absolute; }

#categories {
  border-bottom: none;
  margin-left: 3rem;
  display: inline-block; }
  #categories li {
    min-width: 12rem;
    max-width: 15rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem; }
    #categories li a.dropdown-toggle {
      color: #00409C;
      transition: all 0.25s ease;
      -webkit-transition: all 0.25s ease;
      border: none; }
      #categories li a.dropdown-toggle:hover {
        border: none !important; }
  #categories .open .dropdown-toggle {
    border: none;
    background-color: inherit;
    border-radius: 0px; }
  #categories .sub-menu {
    background-color: #00409C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  #categories .dropdown-menu {
    min-width: 15rem;
    max-width: 15rem;
    padding: 0; }
  #categories .sub-menu-items ul {
    padding: 0.8rem 1rem;
    font-size: 1.3rem;
    overflow: hidden; }
    #categories .sub-menu-items ul li {
      line-height: 2.2rem;
      width: auto; }
      #categories .sub-menu-items ul li a {
        color: #FFFFFF;
        text-decoration: none; }
        #categories .sub-menu-items ul li a:hover {
          color: #3FA9F5; }
  #categories .sub-menu-items:before {
    content: '';
    border-left: 1rem solid transparent;
    border-bottom: 1rem solid #00409C;
    border-right: 1rem solid transparent;
    display: inline-block;
    top: -1rem;
    left: calc(50% - 1rem);
    position: absolute; }

/** MAIN PAGE **/
body.ecommerce #wrap, body.user-page #wrap {
  padding-top: 4rem; }

body.order-details h3.title {
  margin-top: 3rem; }

#wrap {
  background-color: #F2F2F2;
  /**max-width: 1170px;**/
  max-width: 96rem;
  /** max-width: 998px screen 1024 **/
  margin: auto; }
  #wrap h1.title, #wrap h2.title, #wrap h3.title {
    color: #DE0000;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    font-weight: bold; }
    #wrap h1.title a, #wrap h2.title a, #wrap h3.title a {
      color: #DE0000; }
  #wrap p {
    line-height: 2.4rem;
    margin-bottom: 2rem;
    text-align: justify; }
  #wrap .polaroid {
    margin-top: 2rem;
    border: solid 0.4rem #534741; }
  #wrap .cartujano-img-center {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.container {
  background-color: #F2F2F2;
  max-width: 96rem; }

.category-block {
  background-color: #FFFFFF;
  padding: 1rem 0;
  height: 13.7rem; }
  .category-block .dtable {
    display: table;
    height: 100%; }
    .category-block .dtable .wrap {
      display: table-cell;
      vertical-align: middle; }
  .category-block a {
    max-width: 15rem;
    display: block;
    margin: auto;
    font-weight: bold; }

.row.category-block {
  margin: 0 0 2rem; }

.items-list {
  margin-bottom: 3rem; }
  .items-list .item-box.blue-block .item-wrap {
    background-color: rgba(0, 64, 156, 0.2); }
  .items-list .item-box.blue-block .item-options {
    background-color: #FFFFFF; }
  .items-list .item-box.red-block .item-wrap {
    background-color: rgba(255, 0, 0, 0.2); }
  .items-list .item-box.red-block .item-options {
    background-color: rgba(0, 64, 156, 0.2); }
  .items-list .item-box {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    .items-list .item-box .item-wrap {
      padding: 1.5rem;
      display: table;
      width: 100%;
      height: 27rem; }
    .items-list .item-box .img-wrap {
      display: table-cell;
      background-color: #FFFFFF;
      height: 100%;
      width: 17rem;
      vertical-align: middle;
      border: solid 0.2rem #00409C; }
      .items-list .item-box .img-wrap:hover {
        border-color: #3FA9F5;
        cursor: pointer; }
      .items-list .item-box .img-wrap .img-responsive {
        margin: auto; }
    .items-list .item-box .item-info {
      margin-left: 1.5rem; }
      .items-list .item-box .item-info .item-title {
        font-weight: bold;
        margin: 0 0 1rem 0; }
      .items-list .item-box .item-info p {
        margin-bottom: 1rem !important; }
    .items-list .item-box .item-options {
      overflow: hidden;
      height: 8rem;
      width: 100%;
      background-color: rgba(255, 0, 0, 0.2); }
      .items-list .item-box .item-options ul {
        width: 100%;
        height: 100%;
        display: table; }
        .items-list .item-box .item-options ul li:first-child {
          border-right: solid 0.1rem #EEEEEE; }
      .items-list .item-box .item-options li {
        width: 50%;
        height: 100%;
        display: table-cell;
        vertical-align: middle; }
        .items-list .item-box .item-options li .item-dispatch {
          display: block;
          margin: 0;
          text-align: center;
          font-size: 1.2rem; }
        .items-list .item-box .item-options li .item-price {
          font-size: 2rem; }
        .items-list .item-box .item-options li .add-to-cart i {
          margin-right: 0.8rem; }

.btn-blue {
  background-color: #00409C;
  color: white;
  outline: medium none;
  transition: all 0.25s ease 0s; }
  .btn-blue:hover {
    background-color: #DE0000;
    color: #FFFFFF; }
  .btn-blue:active {
    color: #FFFFFF; }
  .btn-blue:focus {
    color: #FFFFFF; }

/** SHOPPING CART **/
.shopping-cart {
  position: absolute;
  right: 2rem;
  top: 2rem; }
  .shopping-cart .cart-icon {
    text-align: center;
    width: 5rem;
    height: 5rem;
    vertical-align: middle;
    border-radius: 100rem;
    background-color: #DE0000;
    font-size: 2rem;
    position: absolute;
    z-index: 1040; }
    .shopping-cart .cart-icon i {
      border-radius: 100rem;
      width: 4rem;
      height: 4rem;
      background-color: #FFFFFF;
      line-height: 4rem;
      margin-top: 0.5rem; }
  .shopping-cart .cart-items {
    background-color: #DE0000;
    height: 3rem;
    width: 18rem;
    margin: 1rem 0 0 4rem;
    padding-left: 2rem;
    border-bottom-right-radius: 100rem;
    border-top-right-radius: 100rem;
    color: #FFFFFF;
    line-height: 3rem; }
    .shopping-cart .cart-items a {
      color: #FFFFFF; }
      .shopping-cart .cart-items a:hover {
        text-decoration: underline; }
    .shopping-cart .cart-items .empty-cart {
      margin-right: 1rem;
      font-size: 1.8rem; }

/** LOGIN/REGISTER **/
.login-form {
  height: 20rem;
  width: 100%;
  display: table; }
  .login-form .login-wrap {
    display: table-cell;
    height: 100%;
    vertical-align: middle; }
    .login-form .login-wrap .login {
      height: 100%;
      border-right: solid 0.2rem #00409C; }
    .login-form .login-wrap .register {
      display: table;
      height: 100%; }
      .login-form .login-wrap .register .register-wrap {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .login-form .login-wrap .register .register-wrap p {
          text-align: center !important; }

/** USER **/
.user-nav-wrap {
  display: block;
  text-align: center;
  list-style: none;
  padding: 2rem 0;
  margin: auto;
  width: 35rem;
  overflow: hidden; }
  .user-nav-wrap li {
    float: left;
    width: 50%; }
  .user-nav-wrap i {
    display: block;
    font-size: 6rem; }
  .user-nav-wrap a {
    line-height: 3rem;
    font-weight: bold; }
    .user-nav-wrap a:hover {
      color: #3FA9F5;
      text-decoration: none; }
  .user-nav-wrap .active {
    color: #DE0000; }

/** TABLES **/
.order-table, .cart-table, .address-table, .history-table {
  background-color: #FFFFFF; }
  .order-table thead, .cart-table thead, .address-table thead, .history-table thead {
    color: #DE0000; }

.box h5 {
  display: block;
  background-color: #DE0000;
  padding: 8px 10px;
  box-shadow: 0 0 1px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 0 1px rgba(50, 50, 50, 0.2);
  -webkit-box-shadow: 0 0 1px rgba(50, 50, 50, 0.2);
  border: solid 1px #EEEEEE; }
  .box h5 a {
    display: block;
    color: #FFFFFF;
    outline: none !important; }
    .box h5 a:hover, .box h5 a:active, .box h5 a:focus {
      text-decoration: none; }
.box .stack-box {
  display: block;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.2);
  margin-top: -10px;
  padding-top: 15px; }
  .box .stack-box .content {
    padding: 0px 10px 15px 10px; }
  .box .stack-box .stack-box-title {
    font-size: 14px;
    color: #00409C; }
  .box .stack-box .controls {
    display: block;
    text-align: right; }

#addresses {
  padding-top: 50px;
  font-size: 12px; }
  #addresses .table > thead > tr > th, #addresses .table > tbody > tr > th, #addresses .table > tfoot > tr > th, #addresses .table > thead > tr > td, #addresses .table > tbody > tr > td, #addresses .table > tfoot > tr > td {
    vertical-align: middle; }
  #addresses .main {
    background-color: #FCF8E3; }
    #addresses .main:hover {
      background-color: #FAF2CC !important; }

/** PAGINATION **/
.pagination .active a {
  background-color: #DE0000;
  border-color: #DE0000; }
  .pagination .active a:hover {
    background-color: #DE0000;
    border-color: #DE0000; }
.pagination li a {
  background-color: #00409C;
  border-color: #00409C;
  color: #FFFFFF; }
  .pagination li a:hover {
    background-color: #DE0000;
    border-color: #DE0000;
    color: #FFFFFF; }

/** ORDER **/
.payment-table {
  width: auto !important;
  background-color: #FFFFFF;
  text-align: center; }
  .payment-table tr, .payment-table td {
    vertical-align: middle !important; }
    .payment-table tr i, .payment-table td i {
      display: block;
      font-size: 1.7rem; }

/** FOOTER **/
footer.container {
  background-color: #DE0000;
  border-top: solid 1rem #00409C;
  color: #FFFFFF;
  height: 26.5rem;
  margin-top: 5rem;
  padding-bottom: 2rem;
  font-size: 1.3rem;
  /* This gets Facebook to fall into place */ }
  footer.container .footer-title {
    color: #FFFFFF;
    font-size: 1.6rem;
    line-height: 4rem;
    font-weight: bold; }
  footer.container .row {
    height: 100%; }
  footer.container p {
    font-weight: bold;
    line-height: 2.4rem; }
  footer.container a {
    color: #FFFFFF;
    text-decoration: none; }
    footer.container a:hover {
      color: #3FA9F5; }
  footer.container .contact {
    height: 100%;
    display: table; }
    footer.container .contact #contact-wrap {
      display: table-cell;
      vertical-align: middle; }
  footer.container .telephone {
    font-size: 3rem;
    font-weight: bold; }
  footer.container .fb-plugin {
    margin: auto;
    display: block;
    width: 12rem !important; }
  footer.container iframe {
    vertical-align: middle; }

/** BOOSTRAP OVERRIDE **/
.navbar {
  min-height: 3.6rem;
  border: 0;
  border-radius: 0; }
  .navbar .container-fluid {
    padding: 0; }
  .navbar .navbar-form.navbar-right:last-child {
    margin-right: 2rem; }
  .navbar .navbar-form {
    padding: 0.5rem 0;
    margin: 0; }
